/* Heading Font */
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Paragraph Font */
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poiret+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

body {
    /* overflow-x: hidden; */
}

header {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.background-header {
    position:fixed;
    top: 0;
    z-index: -1;
}

.nav {
    width: 100%;
    height: auto;
    display: flex;
    color: rgba(230, 230, 230, 0.9);
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    margin: 10px 0;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

.cv-link {
    text-decoration: none;
    color: inherit;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.rod-box {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.rod-box .rod {
    width: 10vw;
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.8);
    transition: all 1s ease, box-shadow 0.5s ease;
    transition: all 1s;
}


.header-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 20px 0;
    overflow-x: hidden;

}

.header-text {
    margin: 0px 10px;
    color: white;
    letter-spacing: 1px;
    width: 55%;

} 

.header-title {
    font-size: 2rem;
    padding: 1rem 0;
}

.header-title h1 {
    background-color: white;
    color: black;
    width: fit-content;
}

.header-quote {
    margin-left: 20px;
    padding: 1rem 0;
    line-height: 2rem;
}


.mohammad-img {
    position: relative; /* Make sure this container is positioned relative to its own space */
    display: inline-block; /* Ensure the image takes up only as much space as needed */
}

.mohammad-img::after {
    content: '';
    width: 130%;
    height: 150px; 
    background: black;
    position: absolute;
    top: 25.55%;
    right: -40%;
    z-index: -1;
    background: linear-gradient(90deg, hwb(245 17% 59% / 0.228), #30115ab6, #190531);  
    animation-duration: 6500ms;
}

.mohammad-img::before {
    content: '';
    position: absolute;
    top: 0;
    right: -40%;
    width: 130%;
    height: 150px; 
    background: linear-gradient(45deg, hwb(245 17% 59% / 0.228), #30115ab6, #190531);  
    z-index: -1;  
    animation-duration: 8000ms;
}

.mohammad-img::before,
.mohammad-img::after {
    transition: all 0.5s;
    animation-name: movingForwordBackword;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes movingForwordBackword {
    0% {
        right: -20%;
    }
    50% {
        right: -60%;
    }
    100% {
        right: -20%;

    }  
} 
  
.socail {
    background: black;
}